name: Update niv

on:
  schedule:
    - cron: '0 1 * * *'

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.2
    - uses: cachix/install-nix-action@v10
    - run: nix-shell --run "niv update"
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3.1.2
      with:
        commit-message: "chore: update niv dependencies"
        title: "chore: update niv dependencies"
        branch: "chore/update-niv-dependencies"
