name: Update dependencies

on:
  schedule:
    - cron: '0 23 * * *'

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
      with:
        # Nix Flakes doesn't work on shallow clones
        fetch-depth: 0
    - uses: cachix/install-nix-action@v12
      with:
        install_url: https://github.com/numtide/nix-flakes-installer/releases/download/nix-2.4pre20210126_f15f0b8/install
        extra_nix_config: |
          experimental-features = nix-command flakes
    - run: nix flake update --recreate-lock-file
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3.8.2
      with:
        commit-message: "chore: update dependencies"
        title: "chore: update dependencies"
        branch: "chore/update-dependencies"
